@import "init.css";
@import "layout.css";
@import "navBar.css";
@import "myInput.css";
@import "icon-demo.css";

body {
    overflow-y: hidden;
}

/*登陆*/
.login-title {
    position: absolute;
    font-size: 3em;
    top: 2em;
    left: 0.5em;
}

.login {
    font-size: 1.2em;
    position: relative;
    top: 23%;
    margin: auto;
    width: 25em;
    padding: 2em 0;
    background: rgba(111, 111, 111, 0);
    border-radius: 0.4em;
    line-height: 5em;
    text-align: center;
}
.login .name, .password {
    font-size: inherit;
    position: relative;
    width: 80%;
    height: 5em;
    padding: 0 1em;
    margin: auto;
    line-height: 5em;
}

/*覆盖 input*/
.login input {
    font-size: inherit;
    width: 100%;
    height: 2.7em;
    color: white;

    margin-left: -1.2em;
    border-radius: 0.5em;
    border: 0.2em solid rgba(234, 237, 237, 0);
    background: rgba(255, 255, 255, 0);
}

input:-moz-placeholder {/* Mozilla Firefox 4 to 18*/
    color: white;
}
input::-moz-placeholder {/* Mozilla Firefox 19+*/
    color: white;
}

input:-ms-input-placeholder{
    color: white;
}

input::-webkit-input-placeholder{
    color: white;
}


.login input[type="submit"], input[type="button"] {
    margin-left: 0;
    width: 10em;
    color: white;
    background: rgba(26, 178, 232, 0.49);
}

.login input:focus + .icon-after-user {
    color: rgba(26, 178, 232, 0.51);
}

.login input:focus + .icon-after-lock {
    color: rgba(26, 178, 232, 0.48);
}

.icon-after-user, .icon-after-lock {
    font-size: 1.4em;
    position: absolute;
    top: 0;
    right: 0.3em;
    color: #bfc9ca;
    transition: color 0.3s;
}

