<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:tiles="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>登陆</title>

    <link href="../../static/css/caffeine/loginPage.css" rel="stylesheet" type="text/css"
          th:href="@{/css/caffeine/loginPage.css}"/>


    <script src="https://code.jquery.com/jquery-3.1.1.js"></script>
    <script src="../../static/js/caffeine/main.js" th:src="@{js/caffeine/main.js}"></script>
    <script src="../../static/js/caffeine/signin.js"
            th:src="@{/js/caffeine/signin.js}"></script>

</head>

<body>

<!--加载图标-->
<div id="load" class="load">
    <img id="loadGif" th:src="@{/picture/loading.gif}"/>
</div>
<!--<div id="header" th:replace="fragments/header :: header"></div>-->


<div tiles:fragment="content"
     style="background-size: cover;background-image: url('/picture/topBG.jpg');background-color:#fdf5db;height:100%">
    <div style="margin: auto;width: 15em;padding-top: 2em;text-align: center">
        <img id="logo" style="width: 15em" src="../../static/picture/blue.png" th:src="@{/picture/blue.png}"/>
        <p style="font-size: 2em;color: white">Caffeine</p>
    </div>
    <form class="login myInput" method="post">
        <div class="name">
            <input type='text' name='uid' placeholder="账号"/>
            <!--<div class="icon-after-user"></div>-->
        </div>
        <div class="password">
            <input type='password' name='password' placeholder="密码"/>
            <!--<div class="icon-after-lock"></div>-->
        </div>
        <input id="loginButton" type="button" name="submit" value="登陆"/>
    </form>
</div>


<div id="footer" th:replace="fragments/footer :: footer"></div>


</body>
</html>